.about {
  margin-top: 5rem;
  margin-bottom: 10rem;
  /* height: 60vh; */
  align-items: center;
}

.about-social img {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.about-social img:hover {
  transform: scale(1.1);
}

.about .social a img {
  margin-right: 10px;
  margin-top: 1rem;
}

.about .social p {
  margin-right: 10px;
}

.about .right .social a img {
  margin-right: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about .left img {
  height: 500px;
  border-radius: 1000px;
}

.about .left img {
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid var(--primary);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 25rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 25rem;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.about-social {
  align-items: center;
}

.about-social p {
  margin-right: 10px;
  color: var(--dark);
}

.about-social a {
  margin: 10px 5px;
}

.about .right h3 {
  font-size: 1.4rem;
  line-height: 3;
}

.about .right p {
  font-size: 1.2rem;
  line-height: 1.4;
}

/*-----*/

.about .paragraph {
  --max-lines: 10;
  --line-height: 1.4;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;

  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.about .paragraph:has(+ .expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--background));
}

.about .expand-btn {
  appearance: none;
  color: var(--paragraph);
  /* padding-top: .5rem; */
  padding-bottom: .5rem;
  border-radius: .25rem; 
  cursor: pointer; 
  margin-top: .5rem;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
}

.about .expand-btn:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.about .expand-btn::before {
  content: "Read more...";
}

.expand-btn:checked::before {
  content: "Collapse";
}

.about .paragraph:has(+ .expand-btn:checked) {
  max-height: none;
}

/*-----*/
