.myblog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myblog .container {
  max-width: 1152px;
}

.myblog .section-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.myblog p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 4rem;
}

.myblog .card-wrapper {
  display: flex;
  margin-bottom: 6rem;
  justify-content: center;
  gap: 2rem; 
}

.myblog .card {
  flex-basis: 25rem; 
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); 
}

.myblog .blog-image-wrapper img {
  width: 100%;
  /* height: auto; */
  border-radius: 50px 50px 0 0;
}

.myblog .wrappercard-wrapper-content {
  flex: 1;
}

.myblog .wrappercard-wrapper-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.myblog .section-heading span {
  color: var(--primary);

}

.myblog .wrappercard-wrapper-content span {
  color: var(--primary);
  font-size: 1.2rem;
}

.myblog .wrappercard-wrapper-content p {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.myblog .wrappercard-wrapper-content a {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.myblog .wrappercard-wrapper-content a:hover {
  text-decoration: underline;
}
