.myblog {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myblog .container {
  max-width: 1152px;
}

.myblog .section-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.myblog h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.myblog p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.myblog .card-wrapper {
  display: flex;
  margin-bottom: 6rem;
  justify-content: center;
  gap: 2rem;
}

.myblog .card {
  background-color: var(--pure);
  flex-basis: 25rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1.7rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.myblog .blog-image-wrapper img {
  width: 100%;
  border-radius: 1.7rem 1.7rem 0 0;
}

.myblog .wrappercard-wrapper-content {
  flex: 1;
  margin: 1rem;
}

.myblog .wrappercard-wrapper-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.myblog .section-heading span {
  color: var(--primary);
}

.myblog .wrappercard-wrapper-content span {
  color: var(--dark);
  font-size: 1rem;
}

.myblog .wrappercard-wrapper-content p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.myblog .wrappercard-wrapper-content a {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

.myblog .wrappercard-wrapper-content a:hover {
  color: var(--primary);
}

.myblog .btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 4rem;
}