.paragraph {
    margin-bottom: 1em; /* Adjust the value as needed */
  }
  
  .video-link {
    color: var(--primary);
    text-decoration: underline;
  }
  
  .card-title {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--dark); /* Adjust the color as needed */
  }
  
  .paragraph {
    font-size: 20px;
    line-height: 1.5;
    color: var(--dark); /* Adjust the color as needed */
    margin-bottom: 20px;
  }
  