@import 'utilities.css';

/* ==========================================================================
	 Base Styles
	 ========================================================================== */ 

:root {
 --primary : #FFB848;
 --pure : #FFFFFF;
 --dark : #493343;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ==========================================================================
	 Header
	 ========================================================================== */  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    margin-right: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 2rem 0;

}

header nav .branding {
    margin-right: 10rem;
}

/* ==========================================================================
	 Hero Section
	 ========================================================================== */  

.hero {
    padding-bottom: 5rem;
}

.hero .left img {
    width: 400px;
    border-radius: 500px;
}

.hero .right {
    color: var(--pure);
    margin-top: -5rem
}

.hero .right h6 {
    font-size: 1.6rem;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span {
    color: var(--primary);
}

/* ==========================================================================
	 About Section
	 ========================================================================== */ 

.about {
    padding: 3rem 0;
}

.about .social a img {
    height: 30px;
    margin-right: 10px;
    margin-top: 1rem;
}

.about .left img {
    height: 500px;
    border-radius: 1000px;
}

.about .right h1 {
    font-size: 50px;
}

.about .right h1 span {
color: var(--primary);}

.about .right h3 {
    font-size: 20px;
    line-height: 3;
}

.about .right p {
    font-size: 20px;
}