@import "utilities.css";

/* ==========================================================================
	 Base Styles
	 ========================================================================== */

:root {
  --primary: #9482ff;
  --pure: #ffffff;
  --dark: #1e1a33;
  --paragraph: #6a6680;
  --background: #f5f5f7;
  --backgroundTwo: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--dark);
  font-family: "Poppins", sans-serif;
}

body h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--paragraph);
}

body h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--dark);
}

body h2 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: var(--dark);
}

body h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

span {
  color: var(--primary);
}

body p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--paragraph);
}

/* ==========================================================================
	 Header and Nav Section
	 ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container {
  max-width: 1152px;
  /* padding: 0 15px; */
  margin: 0 auto;
}

header nav .left a {
  color: var(--pure);
  margin-right: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
  text-decoration: underline;
}

header nav {
  padding: 2rem 0;
}

header nav .branding {
  margin-right: 23rem;
}

/* ==========================================================================
Scroll Bar Section
========================================================================== */

* {
  scrollbar-color: var(--primary), var(--pure);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--pure);
  border-radius: 20px;
}

/* ==========================================================================
Scroll To The Top Section
========================================================================== */

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
}

/* ==========================================================================
Responsive Section
========================================================================== */

.site-main-wrapper {
  position: relative;
}

.site-main-wrapper .hamburger {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 11;
  transition: all 0.5s ease-in-out;
}

.site-main-wrapper .hamburger button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.site-main-wrapper .hamburger button img {
  width: 30px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: var(--pure);
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  animation: fadeIn 0.3s ease forwards;
}

.open {
  transform: translateX(0);
}

.times {
  position: fixed;
  top: 30px;
  right: 100px;
  background: none;
  border: none;
  cursor: pointer;
}

.times img {
  width: 1.5rem;
}

.mobile-nav ul {
  list-style-type: none;
}

.mobile-nav ul li a {
  color: var(--dark);
  text-decoration: none;
  font-size: 2rem;
}

.mobile-nav ul li {
  margin-bottom: 2rem;
}

/* Responsive devices */

/* Pad devices */

@media (min-width: 1025px) {
  .site-main-wrapper .hamburger {
    display: none;
  }
}

@media (max-width: 1024px) {
  header #main-nav {
    display: none;
  }

  header {
    height: 80%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
  }

  .hero {
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 10rem;
  }

  .hero .left img {
    margin-top: 4rem;
    width: 20rem;
    height: 20rem;
  }

  .hero .right h1 {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
  }

  .hero .right p {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero .right .stack-two {
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }

  /* ------------------------------- */

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .btn-secondary {
    display: block;
    margin: 0 auto;
    text-decoration: none;
  }

  /* ------------------------------- */

  .about {
    padding: 1rem;
  }

  .about .left img {
    display: none;
  }

  .about .container {
    display: flex;
    flex-wrap: wrap;
  }

  .about .right {
    flex-basis: 100%;
  }

  .about .right h1 {
    font-size: 2rem;
    text-align: center;
  }

  .about h2 {
    display: flex;
    justify-content: center;
  }

  .about h4 {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .about .right h3 {
    text-align: center;
  }

  .about .right p {
    text-align: center;
  }

  .about .right .social {
    white-space: nowrap;
  }

  .about-social {
    justify-content: center;
  }

  .about-social p {
    margin-right: 10px;
  }

  .about-social a {
    margin: 10px 5px;
  }

  /* ------------------------------- */

  .content .container {
    flex-direction: column;
    justify-content: center;
  }

  .content .left {
    max-height: 25rem;
    margin-top: 2rem;
  }

  .content .left img {
    display: flex;
    justify-content: center;
  }

  .content h1 {
    display: flex;
    justify-content: center;
  }

  .content h2 {
    display: flex;
    justify-content: center;
  }

  .content h3 {
    text-align: left;
    padding-top: 1rem;
  }

  .content h4 {
    display: flex;
    text-align: left;
  }

  .content .paragraph {
    display: flex;
    justify-content: center;
    text-align: left;
  }

  .content .social {
    display: flex;
    justify-content: center;
  }

  .content .list {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  /* ------------------------------- */

  .post .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .post .left img {
    display: flex;
    justify-content: center;
  }

  .post h1 {
    display: flex;
    justify-content: center;
  }

  .post h3 {
    display: flex;
    justify-content: center;
  }

  .post h4 {
    display: flex;
    justify-content: center;
  }

  .post .paragraph {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .post .social {
    display: flex;
    justify-content: center;
  }

  .post .list {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  /* ------------------------------- */

  .contact .contact-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ------------------------------- */

  .footer ul li a {
    color: var(--pure);
    text-decoration: none;
    transition: color 0.3s;
    text-transform: uppercase;
  }

  .footer ul li a:hover {
    color: var(--primary);
  }

  /* ------------------------------- */

  .myblog .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

  /* Mobile devices */

  /* Mobile devices */

@media (max-width: 567px) {
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 98%, 0 100%);
  }

  .hero {
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 10rem;
  }

  .hero .left {
    margin-top: -6rem;
  }

  .hero .left img {
    height: 15rem;
  }

  .hero .right {
    padding-top: -2rem;
    text-align: center;
  }

  .hero .right h1 {
    font-size: 2rem;
    word-break: break-word;
    line-height: 1.4;
  }

  .hero .right p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .hero .right .stack-two {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .hero .right .stack-two a {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  /* ------------------------------- */

  .about .right p {
    display: flex;
    font-size: 1.1rem;
  }

  /* ------------------------------- */

  .card-wrapper img {
    height: 260px;
    width: 260px;
  }

  /* ------------------------------- */

  content .container {
    align-items: center;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content h3 {
    font-size: 1.6rem;
  }

  .content h4 {
    font-size: 1.4rem;
    text-align: left;
  }

  .content .paragraph {
    font-size: 0.8rem;
  }

  .content .social p {
    font-size: 1.1rem;
  }

  .content .list {
    font-size: 1.1rem;
  }

  .content .left .img {
    margin-bottom: 2rem;
  }

  /* ------------------------------- */

  .post h1 {
    font-size: 2rem;
  }

  .post h3 {
    font-size: 1.6rem;
    text-align: left;
  }

  .post h4 {
    font-size: 1.4rem;
    text-align: left;
  }

  .post .paragraph {
    font-size: 0.8rem;
    text-align: left;
  }

  .post .social p {
    font-size: 1.1rem;
  }

  .post .list {
    font-size: 1.1rem;
  }

  /* ------------------------------- */

  .contact .container {
    padding-bottom: 100px;
  }

  .contact .section-heading {
    font-size: 2rem;
  }

  .contact-card-wrapper {
    display: flex;
  }

  .card-wrapper img {
    height: 22rem;
  }

  .contact .contact-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ------------------------------- */

  .footer .footer-text {
    font-size: 1.1rem;
  }

  /* ------------------------------- */

  .myblog .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .video_container {
    height: 250px;
  }
}
